<div mat-dialog-content>
  <agm-map [styles]="styles" (mapClick)="click($event)" [latitude]="mapLat" [longitude]="mapLng">

        <agm-marker [latitude]="currentDeviceCoordinates.lat"
                    [longitude]="currentDeviceCoordinates.lng">
                  </agm-marker>
      </agm-map>
</div>

<form>
  <mat-form-field>
      <mat-label>Lat</mat-label>
      <input class="input" type="number" [(ngModel)]="currentDeviceCoordinates.lat" name="lat" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Lng</mat-label>
      <input class="input" type="number" [(ngModel)]="currentDeviceCoordinates.lng" name="lng" matInput>
  </mat-form-field>
  <mat-form-field>
      <mat-label>Device Name</mat-label>
      <input class="input" #name matInput>
  </mat-form-field>


<div mat-dialog-actions>
  <button mat-fab color="accent" (click)="onNoClick()">Cancel</button>
  <button mat-fab color="primary" type="submit" (click)="onSubmit(name)">Set</button>
</div>
</form>
