<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="min" [(ngModel)]="min">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="max" [(ngModel)]="max">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-fab color="accent" (click)="onNoClick()">Cancel</button>
  <button mat-fab color="primary" cdkFocusInitial (click)="onSubmit()">Set</button>
</div>
