<mat-card class="routes-card">
  <mat-card-title  >Your routes</mat-card-title>
  <mat-card-content>
<table mat-table  [dataSource]="routes" class="mat-elevation-z8">


    <ng-container matColumnDef="name" >
      <th  mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element; let i = index" > {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="devicesCount">
      <th class="header-cell" mat-header-cell *matHeaderCellDef> Devices </th>
      <td class="cell" mat-cell *matCellDef="let element"> {{element.devicesCount}} </td>
    </ng-container>

    <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button color="warn" class="removeRouteButton" mat-raised-button (click)="removeRoute(element.routeId)">Remove</button></td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsRoutes"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsRoutes; let i = index;" (click)="activateRoute(row)" (mouseleave)="onMouseLeave(row, i)" (mouseover)="onMouseOver(row, i)" [ngClass]="{'mouseOver': mouseOvers[i].mouseOver }"></tr> </table>
  </mat-card-content>
  </mat-card>
<mat-card class="add-route-card">

    <mat-card-title>Add a new route</mat-card-title>
<mat-card-content>
<agm-map [styles]="styles" [maxZoom]="1007" [fitBounds]="true" [clickableIcons]="true">
    <!-- <div *ngFor="let direction of directions"> -->
        <agm-direction travelMode="WALKING"
        [origin]="direction.origin"
        [destination]="direction.destination"
        [renderOptions]="direction.renderOptions"
       [visible]="true"
       [waypoints]="direction.waypoints"
        >
      </agm-direction>
        <!-- </div> -->

      <div *ngFor="let device of devices">
        <agm-marker [openInfoWindow]="true" [agmFitBounds]="true" (markerClick)="markerClick(device)" [latitude]="device.lat" [longitude]="device.lng">
            <agm-info-window  [disableAutoPan]="true">
                <strong class="info">{{device.name}}</strong>
              </agm-info-window>
        </agm-marker>
      </div>
      </agm-map>
      <mat-chip-list>

          <mat-chip
          color="accent"
          selected
          [removable]="removable"
          (removed)="removeDevice(device)"
           *ngFor="let device of devicesToAdd"
           >{{device.name}}

           <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>

          </mat-chip>

       </mat-chip-list>
      </mat-card-content>


<mat-card-content>
  <form>
  <mat-form-field>
    <input matInput
           type="text"
           required
           placeholder="Route Name" [ngModelOptions]="{standalone: true}" [(ngModel)]="routeName">
          </mat-form-field>
        </form>
          </mat-card-content>
          <mat-card-actions>
       <button mat-raised-button class="submit" [disabled]="submitDisabled()" (click)="addRoute()" color="primary">Submit Route</button>
      </mat-card-actions>
      </mat-card>
