agm-map {
  height: 400px;
  width: 700px;
  margin: 10px;
}
// mat-card {
//   height: 600px;
// }

mat-chip-list {
  position: inherit;
  padding: 20px;
}
mat-chip {
  margin-top: 20px;
}
mat-divider {
  width: 50px;
}
.info {
  color: black;
}
.cell,
.header-cell {
  align-content: right;
}
.mat-table {
  width: 400px;
}
.routes-card {
  width: 415px;
  margin: 10px;
  float: left;
}
.add-route-card {
  margin: 10px;
  width: 700px;
  float: left;
}
.mouseOver {
  background-color: burlywood;
  cursor: pointer;
}
