#loginContainer {
  width: 100vw;
  height: 94vh;
  background-image: url('../../../assets/mainBG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.form {
  margin: 1vw;
  width: 220px;
  float: right;
}
