
<mat-card>
  <mat-card-subtitle>
<div mat-dialog-content>
   <span>Are you sure?</span>
  </div>
</mat-card-subtitle>
<mat-card-content>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" (click)="onConfirm()">Confirm</button>
  </div>
</mat-card-content>
</mat-card>
