<svg
  id="canvas"
  *ngIf="this.upSlot && this.downSlot"
  #canvas
  (load)="calculateLinePositions(canvas)"
  (window:resize)="calculateLinePositions(canvas)"
>
  <defs>
    <polygon
      id="arrowDown"
      points="0,0 17,33 33,0 17, 9"
      viewbox="0, 0, 33, 33"
    />
    <polygon
      id="arrowUp"
      points="0,33 17,0 33,33 17, 24"
      viewbox="0, 0, 33, 33"
    />
    <circle
      class="switch"
      id="switch"
      cx="18"
      cy="16"
      r="13"
      stroke="black"
      stroke-width="1"
    />
  </defs>
  <svg [attr.x]="leftLinePosition.x1+10" zIndex="1" [attr.y]="leftLinePosition.y1" [attr.width]="rightLinePosition.x1-leftLinePosition.x1" height="100%">
    <rect
      x="0"
      y="0"
      width="100%"
      height="100%"
      fill="#d3d3d3"
    />
  </svg>
  <!-- Main lines -->
  <line
    [attr.x1]="leftLinePosition.x1"
    [attr.x2]="leftLinePosition.x2"
    [attr.y1]="leftLinePosition.y1"
    [attr.y2]="leftLinePosition.y2"
    stroke="#d3d3d3"
    stroke-width="27"
  />
  <line
    [attr.x1]="rightLinePosition.x1"
    [attr.x2]="rightLinePosition.x2"
    [attr.y1]="rightLinePosition.y1"
    [attr.y2]="rightLinePosition.y2"
    stroke="#d3d3d3"
    stroke-width="27"
  />

  <!-- Small connector lines -->
  <line
    *ngIf="downSwitchOn"
    [attr.x1]="leftLinePosition.x1 - 50"
    [attr.x2]="leftLinePosition.x1 - 50"
    [attr.y1]="leftLinePosition.y1"
    [attr.y2]="leftLinePosition.y2 / 2"
    stroke="purple"
    stroke-width="3"
  />
  <line
    *ngIf="downSwitchOn"
    [attr.x1]="leftLinePosition.x1 - 50"
    [attr.x2]="leftLinePosition.x1 - 50"
    [attr.y1]="leftLinePosition.y2 / 2"
    [attr.y2]="leftLinePosition.y2"
    stroke="purple"
    stroke-width="3"
  />
  <line
    *ngIf="downSwitchOn"
    [attr.x1]="leftLinePosition.x1 - 50"
    [attr.x2]="leftLinePosition.x2 - 30"
    [attr.y1]="leftLinePosition.y2 / 2"
    [attr.y2]="leftLinePosition.y2 / 2"
    stroke="purple"
    stroke-width="3"
  />
  <line
    *ngIf="!downSwitchOn && !downSlotActive()"
    [attr.x1]="leftLinePosition.x1 - 50"
    [attr.x2]="leftLinePosition.x2 - 50"
    [attr.y1]="leftLinePosition.y1"
    [attr.y2]="leftLinePosition.y2"
    stroke="purple"
    stroke-width="3"
  />

  <line
    *ngIf="upSwitchOn"
    [attr.x1]="rightLinePosition.x1 + 50"
    [attr.x2]="rightLinePosition.x1 + 50"
    [attr.y1]="rightLinePosition.y1"
    [attr.y2]="rightLinePosition.y2 / 2"
    stroke="purple"
    stroke-width="3"
  />
  <line
    *ngIf="upSwitchOn"
    [attr.x1]="rightLinePosition.x1 + 50"
    [attr.x2]="rightLinePosition.x1 + 50"
    [attr.y1]="rightLinePosition.y2 / 2"
    [attr.y2]="rightLinePosition.y2"
    stroke="purple"
    stroke-width="3"
  />
  <line
    *ngIf="upSwitchOn"
    [attr.x1]="rightLinePosition.x1 + 50"
    [attr.x2]="rightLinePosition.x2 + 30"
    [attr.y1]="rightLinePosition.y2 / 2"
    [attr.y2]="rightLinePosition.y2 / 2"
    stroke="purple"
    stroke-width="3"
  />
  <line
    *ngIf="!upSwitchOn && !upSlotActive()"
    [attr.x1]="rightLinePosition.x1 + 50"
    [attr.x2]="rightLinePosition.x2 + 50"
    [attr.y1]="rightLinePosition.y1"
    [attr.y2]="rightLinePosition.y2"
    stroke="purple"
    stroke-width="3"
  />

  <!-- Device name -->
  <text
    x="50%"
    y="50%"
    dominant-baseline="middle"
    text-anchor="middle"
    stroke-width="22"
    fill="purple"
  >
    {{ this.deviceName }}
  </text>

  <!-- Rectangle -->
  <svg [attr.x]="rectangleXPosition" [attr.width]="rectangleWidth" height="35">
    <rect
      x="0"
      y="0"
      width="100%"
      height="100%"
      stroke="purple"
      fill-opacity="0"
      stroke-width="4px"
    />
  </svg>

  <!-- Left value -->
  <text
    *ngFor="let downPath of downSlot.paths"
    [attr.x]="leftLinePosition.x1 - 70"
    y="15"
    font-family="sans-serif"
    font-size="11px"
    fill="green"
  >
    <a *ngIf="downPath.active && this.mouseover">{{ downPath.min || 0 }}</a>
  </text>

  <text
    *ngFor="let downPath of downSlot.paths"
    (mouseover)="hoverValue()"
    (mouseleave)="mouseLeaveValue()"
    (click)="openDialog(downPath)"
    cursor="pointer"
    [attr.x]="leftLinePosition.x1 - 60"
    y="30"
    font-family="sans-serif"
    font-size="20px"
    [attr.fill]="downSlot.color"
  >
    <a *ngIf="downPath.active">{{ downPath.current }}</a>
  </text>

  <text
    *ngFor="let downPath of downSlot.paths"
    [attr.x]="leftLinePosition.x1 - 40"
    y="15"
    font-family="sans-serif"
    font-size="11px"
    fill="red"
  >
    <a *ngIf="downPath.active && this.mouseover">{{ downPath.max || 0 }}</a>
  </text>

  <!-- Switches -->
  <use
    *ngIf="downSwitchOn"
    [attr.x]="leftLinePosition.x1 - 17.5"
    (click)="downSwitchClick()"
    y="0"
    xlink:href="#switch"
    fill="black"
  />
  <use
    *ngIf="!downSwitchOn"
    [attr.x]="leftLinePosition.x1 - 16.7"
    (click)="downSwitchClick()"
    y="0"
    xlink:href="#arrowDown"
    stroke="black"
    stroke-width="1"
    [attr.fill]="downSlot.color"
  />

  <use
    *ngIf="upSwitchOn"
    [attr.x]="rightLinePosition.x1 - 17.5"
    (click)="upSwitchClick()"
    y="0"
    xlink:href="#switch"
    fill="black"
  />
  <use
    *ngIf="!upSwitchOn"
    [attr.x]="rightLinePosition.x1 - 16.7"
    (click)="upSwitchClick()"
    y="0"
    xlink:href="#arrowUp"
    stroke="black"
    stroke-width="1"
    [attr.fill]="upSlot.color"
  />

  <!-- Right value -->
  <text
    *ngFor="let upPath of upSlot.paths"
    [attr.x]="rightLinePosition.x1 + 32"
    y="15"
    font-family="sans-serif"
    font-size="11px"
    fill="green"
  >
    <a *ngIf="upPath.active && this.mouseover">{{ upPath.min || 0 }}</a>
  </text>

  <text
    *ngFor="let upPath of upSlot.paths"
    (mouseover)="hoverValue()"
    (mouseleave)="mouseLeaveValue()"
    (click)="openDialog(upPath)"
    cursor="pointer"
    [attr.x]="rightLinePosition.x1 + 42"
    y="30"
    font-family="sans-serif"
    font-size="20px"
    [attr.fill]="upSlot.color"
  >
    <a *ngIf="upPath.active">{{ upPath.current }}</a>
  </text>

  <text
    *ngFor="let upPath of upSlot.paths"
    [attr.x]="rightLinePosition.x1 + 62"
    y="15"
    font-family="sans-serif"
    font-size="11px"
    fill="red"
  >
    <a *ngIf="upPath.active && this.mouseover">{{ upPath.max || 0 }}</a>
  </text>
</svg>
