
<div *ngIf="render">

  <div *ngFor="let path of downSlots; let i = index">
  <div class="switch" *ngIfonce="!(i%2)" >
    <app-switch
      [index]="i-i/2"
      [downSlot]="downSlots[i]"
      [upSlot]="upSlots[i]"
      [deviceName]="devices[i-i/2]"
      [slotsChanged]="slotsChanged"
      (upSwitchEmitter)="upSwitch($event)"
      (downSwitchEmitter)="downSwitch($event)"
      >
 </app-switch>

</div>
  <div class="arrows" [style.height]="arrowHeight()" *ngIfonce="i%2" ><app-arrows-tile [downSlot]="downSlots[i]"  [upSlot]="upSlots[i]"></app-arrows-tile></div>
</div>
</div>
