mat-grid-list {
  height: 100vh
}
app-arrows-tile {
  height: 100%;
  width: 100%;
  margin: 0;
}
app-switch {
  height: 100%;
  width: 100%;
  margin: 0;
}
.switch {
  height: 35px;
  width: 100%;
}
.arrows {
  height: 150px;
  width: 100%;
}
