mat-toolbar {
  height: 40px;
  background-color: #005a5b;
  justify-content: flex-end;
}
button {
  margin: 10px;
  float: right;
}
mat-icon {
  cursor: pointer;
  line-height: 35px;
}
.toggleBtn {
  height: 35px;
  width: 100px;
}
.set {
  margin: 0px 10px 0px 10px;
}
.logo {
  position: absolute;
  margin: auto 10px;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.toggle {
  position: absolute;
  left: 50%;
  margin-left: -165px;
}
