<mat-toolbar>
  <span class="logo" [routerLink]="['routes']">Chronos</span>
  <button mat-raised-button *ngIf="isAdmin" [routerLink]="['admin']">
    Admin
  </button>

  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    name="time-picker"
    class="toggle"
  >
    <mat-button-toggle *ngIf="mainInitialized" value="15-minutes"
      >15m</mat-button-toggle
    >
    <mat-button-toggle *ngIf="mainInitialized" value="1-hours"
      >1h</mat-button-toggle
    >
    <mat-button-toggle *ngIf="mainInitialized" value="2-hours"
      >2h</mat-button-toggle
    >
    <mat-button-toggle *ngIf="mainInitialized" value="8-hours"
      >8h</mat-button-toggle
    >
    <mat-button-toggle *ngIf="mainInitialized" value="1-days"
      >1d</mat-button-toggle
    >
    <mat-icon
      class="set mat-18"
      *ngIf="mainInitialized"
      [routerLink]="['routes']"
      >settings</mat-icon
    >
  </mat-button-toggle-group>

  <button mat-raised-button (click)="logout()">Logout</button>
</mat-toolbar>
