<div class="container">
  <div class="left"><app-map></app-map></div>
  <div class="center"><app-middle></app-middle></div>
  <div class="right"><app-charts-container></app-charts-container></div>
</div>
