.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
  margin-top: 10px;
  height: 93vh;
}
.left {
  width: 38vw;
  height: 93vh;
}
.center {
  width: 20vw;
  height: 93vh;
}
.right {
  width: 39vw;
  height: 93vh;
  overflow-y: auto;
}
