<button id="addButton" mat-fab color="#343540" (click)="this.addNewChart()">
  +
</button>
<div *ngFor="let params of charts">
  <i class="material-icons remove" (click)="removeSingleChart(params.id)">
    remove_circle_outline
  </i>
  <app-single-chart [chartParams]="params"></app-single-chart>
</div>
