<mat-calendar
  id="calendar"
  [maxDate]="today"
  [selected]="selectedDate"
  (selectedChange)="onSelect($event)"
></mat-calendar>
<div id="timePicker">
  <mat-form-field>
    <mat-select placeholder="Hours" #selectedHours required>
      <mat-option *ngFor="let hour of hours" [value]="hour.value">
        {{ hour.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Minutes" #selectedMinutes required>
      <mat-option *ngFor="let minute of minutes" [value]="minute.value">
        {{ minute.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions style="width: 100%;">
  <button style="float: left;" mat-button (click)="onCancelClick()">
    Cancel
  </button>
  <button
    style="float: right;"
    mat-button
    (click)="onOkClick()"
    [disabled]="!selectedDate"
  >
    Ok
  </button>
</div>
