h3,
h4 {
  text-align: center;
}

.mySlider {
  float: right;
  text-align: center;
}

.myCalendar {
  width: 30%;
  float: right;
}
.mat-form-field {
  width: 50%;
}
.originDestContainer {
  text-align: center;
}
.material-icons {
  cursor: pointer;
}
::ng-deep .mat-tooltip {
  font-size: 16px;
}
