<h3 mat-dialog-title>NEW CHART SETUP</h3>
<div mat-dialog-content>
  <h3>{{ routeName }}</h3>
  <form [formGroup]="newChartForm" (ngSubmit)="sendData()">
    <div class="originDestContainer">
      <mat-form-field>
        <mat-select placeholder="Origin" formControlName="origin" required>
          <mat-option *ngFor="let device of devices" [value]="device.name">
            {{ device.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Destination"
          formControlName="destination"
          required
        >
          <mat-option
            *ngFor="let device of (devices | deviceFilter: destinationFilter)"
            [value]="device.name"
          >
            {{ device.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-button-toggle-group multiple formControlName="matButtonToggleGroup">
      <mat-button-toggle (click)="addFullDay('today')">Today</mat-button-toggle>
      <mat-button-toggle (click)="addFullDay('yesterday')"
        >Yesterday</mat-button-toggle
      >
      <mat-button-toggle
        (click)="showDataPicker()"
        #datePicker
        matTooltip="Add date"
        matTooltipPosition="above"
        ><mat-icon>playlist_add </mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="mySlider">
      <p>Period: {{ period }} Hours</p>
      <p>
        <mat-slider
          thumbLabel
          formControlName="period"
          min="2"
          max="24"
          step="2"
        ></mat-slider>
      </p>
    </div>
    <div *ngFor="let date of fullDayStartDates">
      <mat-form-field>
        <input
          matInput
          value="{{ date | date: 'MM/dd/yyyy' }} 00:00 - 23:59"
          disabled
        />
      </mat-form-field>
    </div>
    <ng-container>
      <div *ngFor="let date of startDates">
        <mat-form-field>
          <input
            formControlName="startDates"
            [pattern]="datePattern"
            matInput
            value="{{ date | date: 'MM/dd/yyyy HH:mm' }}"
          /> </mat-form-field
        ><i class="material-icons" (click)="removeDate(date)">
          remove_circle_outline
        </i>
      </div>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-raised-button type="submit" [disabled]="!newChartForm.valid">
    Generate Chart
  </button>
</div>
