mat-expansion-panel {
  margin: 10px 10px 0px 10px;
}
table {
  width: 100%;
}
.addButton {
  margin: 15px;
  float: right;
  margin-top: 25px;
  margin-right: 23px;
}
.removeButton {
  float: right;
  width: 120px;
}
.removeDeviceButton {
  float: right;
  width: 140px;
}

.editDeviceButton {
  float: right;
  width: 140px;
}
