<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Devices
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>

    <table mat-table matSort [dataSource]="devices" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="lat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
        <td mat-cell *matCellDef="let element">{{ element.lat }}</td>
      </ng-container>

      <ng-container matColumnDef="lng">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
        <td mat-cell *matCellDef="let element">{{ element.lng }}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            color="accent"
            class="editDeviceButton"
            mat-raised-button
            (click)="editDevice(element)"
          >
            Edit Device
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            color="warn"
            class="removeDeviceButton"
            mat-raised-button
            (click)="removeDevice(element)"
          >
            Remove Device
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDevices"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsDevices"></tr>
    </table>

    <button
      class="addButton"
      mat-raised-button
      color="accent"
      (click)="openAddDeviceDialog()"
    >
      Add New Device
    </button>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="(true)" (closed)="(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Users
      </mat-panel-title>
    </mat-expansion-panel-header>

    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            *ngIf="!element.banned"
            color="warn"
            class="removeButton"
            mat-raised-button
            (click)="switchUserBan(element)"
          >
            Ban User
          </button>
          <button
            *ngIf="element.banned"
            color="accent"
            class="removeButton"
            mat-raised-button
            (click)="switchUserBan(element)"
          >
            Remove Ban
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsUsers"></tr>
    </table>

    <button
      class="addButton"
      mat-raised-button
      color="accent"
      (click)="openAddUserDialog()"
    >
      Add New User
    </button>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="(true)" (closed)="(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Logs
      </mat-panel-title>
    </mat-expansion-panel-header>

    <table mat-table matSort [dataSource]="logs" class="mat-elevation-z8">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Log Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsLogs"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsLogs"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-expansion-panel>
</mat-accordion>
