<div mat-dialog-content>
  <agm-map [fitBounds]="true" [styles]="styles" (mapClick)="click($event)" [latitude]="mapLat" [longitude]="mapLng">

        <agm-marker [agmFitBounds]="true" [(latitude)]="device.lat"
                    [(longitude)]="device.lng">
                  </agm-marker>
      </agm-map>
</div>

<form>
  <mat-form-field>
      <mat-label>Lat</mat-label>
      <input class="input" type="number" [(ngModel)]="device.lat" name="lat" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Lng</mat-label>
      <input class="input" type="number" [(ngModel)]="device.lng" name="lng" matInput>
  </mat-form-field>
  <mat-form-field>
      <mat-label>Device Name</mat-label>
      <input class="input" matInput name="name" [(ngModel)]="device.name">
  </mat-form-field>


<div mat-dialog-actions>
  <button mat-fab color="accent" (click)="onNoClick()">Cancel</button>
  <button mat-fab color="primary" type="submit" (click)="onSubmit()">Set</button>
</div>
</form>
