/* You can add global styles to this file, and also import other style files */
.mat-raised-button,
.mat-button {
  background-color: #343540;
}
body {
  margin: 0px;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 35px !important;
}

@import '@angular/material/prebuilt-themes/purple-green.css';
