svg {
  width: 100%;
  height: 100%;
}
// .c
//   {
//     position: relative;
//     height: 0;
//     width: 100%;
//     padding: 0;
//     padding-bottom: 100%;
//     /* override this inline for aspect ratio other than square */
//    }

  //  .scaling-svg {
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   left: 55;
  //   top: 55;
  //  }
.car {
  position: absolute;
    -webkit-transform: rotate(.125rad);
       -moz-transform: rotate(.125rad);
         -o-transform: rotate(.125rad);
            transform: rotate(.125rad);
}
