
<svg id="canvas"  *ngIf="this.upSlot&&this.downSlot" #canvas (load)="calculateLinePositions(canvas)" (window:resize)="calculateLinePositions(canvas)">

   <svg [attr.x]="leftLinePosition.x1+10" zIndex="1" [attr.y]="leftLinePosition.y1" [attr.width]="rightLinePosition.x1-leftLinePosition.x1" height="100%">
      <rect
        x="0"
        y="0"
        width="100%"
        height="100%"
        [attr.fill]="fillColor"
      />
    </svg>

    <!-- <line [attr.x1]="(rightLinePosition.x1-leftLinePosition.x1+10)" [attr.x2]="(rightLinePosition.x1-leftLinePosition.x1+10)" [attr.y1]="calculateMidArrowPosition(canvas)-45" [attr.y2]="calculateMidArrowPosition(canvas)-25" stroke="white" stroke-width="10"/> -->
    <line [attr.x1]="(rightLinePosition.x1-leftLinePosition.x1+10)" [attr.x2]="(rightLinePosition.x1-leftLinePosition.x1+10)" [attr.y1]="calculateMidArrowPosition(canvas)-30" [attr.y2]="calculateMidArrowPosition(canvas)+60" stroke="white" stroke-width="10"/>
    <!-- <line [attr.x1]="(rightLinePosition.x1-leftLinePosition.x1+10)" [attr.x2]="(rightLinePosition.x1-leftLinePosition.x1+10)" [attr.y1]="calculateMidArrowPosition(canvas)+50" [attr.y2]="calculateMidArrowPosition(canvas)+70" stroke="white" stroke-width="10"/> -->
<!-- Main lines -->
   <line [attr.x1]="leftLinePosition.x1" [attr.x2]="leftLinePosition.x2" [attr.y1]="leftLinePosition.y1" [attr.y2]="leftLinePosition.y2" [attr.stroke]="fillColor" stroke-width="27"/>
   <line [attr.x1]="rightLinePosition.x1" [attr.x2]="rightLinePosition.x2" [attr.y1]="rightLinePosition.y1" [attr.y2]="rightLinePosition.y2" [attr.stroke]="fillColor" stroke-width="27"/>

   <!-- Secondary pointer lines -->
   <line [attr.x1]="leftLinePosition.x1-50" *ngIf="!downSlotActive()" [attr.x2]="leftLinePosition.x2-50" [attr.y1]="leftLinePosition.y1" [attr.y2]="leftLinePosition.y2" stroke="purple" stroke-width="3"/>
   <line [attr.x1]="rightLinePosition.x1+50" *ngIf="!upSlotActive()" [attr.x2]="rightLinePosition.x2+50" [attr.y1]="rightLinePosition.y1" [attr.y2]="rightLinePosition.y2" stroke="purple" stroke-width="3"/>

   <line [attr.x1]="leftLinePosition.x1-50" *ngIf="downSlotActive()" [attr.x2]="leftLinePosition.x2-50" [attr.y1]="leftLinePosition.y1" [attr.y2]="leftLinePosition.y2/2 - 20" stroke="purple" stroke-width="3"/>
   <line [attr.x1]="leftLinePosition.x1-50" *ngIf="downSlotActive()" [attr.x2]="leftLinePosition.x2-50" [attr.y1]="leftLinePosition.y2/2 + 10" [attr.y2]="leftLinePosition.y2" stroke="purple" stroke-width="3"/>

   <line [attr.x1]="rightLinePosition.x1+50" *ngIf="upSlotActive()" [attr.x2]="rightLinePosition.x2+50" [attr.y1]="rightLinePosition.y1" [attr.y2]="rightLinePosition.y2/2 - 20" stroke="purple" stroke-width="3"/>
   <line [attr.x1]="rightLinePosition.x1+50" *ngIf="upSlotActive()" [attr.x2]="rightLinePosition.x2+50" [attr.y1]="rightLinePosition.y2/2 + 10" [attr.y2]="rightLinePosition.y2" stroke="purple" stroke-width="3"/>

   <!-- Left values -->
   <text *ngFor="let downPath of downSlot.paths"  [attr.x]="leftLinePosition.x1-65" [attr.y]="calculateMidArrowPosition(canvas)+5" font-family="sans-serif" font-size="11px" fill="green">
    <a *ngIf="downPath.active&&this.mouseover">{{downPath.min||0}}</a>
   </text>

   <text *ngFor="let downPath of downSlot.paths" [attr.x]="leftLinePosition.x1-55" (mouseover)="hoverValue()" (mouseleave)="mouseLeaveValue()" (click)="openDialog(downPath)" cursor="pointer" [attr.y]="calculateMidArrowPosition(canvas)+20" font-family="sans-serif" font-size="20px" [attr.fill]="downSlot.color">
      <a *ngIf="downPath.active">{{downPath.current}}</a>
     </text>
     <text *ngFor="let downPath of downSlot.paths"  [attr.x]="leftLinePosition.x1-40" [attr.y]="calculateMidArrowPosition(canvas)+5" font-family="sans-serif" font-size="11px" fill="red">
      <a *ngIf="downPath.active&&this.mouseover">{{downPath.max||0}}</a>
     </text>

    <!-- Right value -->
    <text *ngFor="let upPath of upSlot.paths"  [attr.x]="rightLinePosition.x1+32" [attr.y]="calculateMidArrowPosition(canvas)+5" font-family="sans-serif" font-size="11px" fill="green">
      <a *ngIf="upPath.active&&this.mouseover">{{upPath.min||0}}</a>
     </text>
      <text *ngFor="let upPath of upSlot.paths" [attr.x]="rightLinePosition.x1+42" (mouseover)="hoverValue()" (mouseleave)="mouseLeaveValue()" (click)="openDialog(upPath)" cursor="pointer" [attr.y]="calculateMidArrowPosition(canvas)+20" font-family="sans-serif" font-size="20px" [attr.fill]="upSlot.color">
          <a *ngIf="upPath.active">{{upPath.current}}</a>
         </text>
         <text *ngFor="let upPath of upSlot.paths"  [attr.x]="rightLinePosition.x1+62" [attr.y]="calculateMidArrowPosition(canvas)+5" font-family="sans-serif" font-size="11px" fill="red">
          <a *ngIf="upPath.active&&this.mouseover">{{upPath.max||0}}</a>
         </text>




            <svg   width="45" data-name="Layer 3"  xmlns="http://www.w3.org/2000/svg"
            [attr.x]="leftLinePosition.x1-15"
            [attr.y]="calculateMidArrowPosition(canvas)/2-30" viewBox="0 0 95.97 184.13"><defs>
              <style>.cls-1{fill:#eceff0;}.cls-4{fill:#fff;}.cls-5{fill:#35435c;}.cls-6{fill:#ef4036;}</style></defs>
              <g transform="translate(100, 180) rotate(180)">
            <path  class="cls-1" d="M139.26,67.42V65.62c0-29.26,2.38-36.63-3.57-41.47s-17.36-8.48-31.4-8.48-25.45,3.64-31.4,8.48-3.57,12.21-3.57,41.47v1.79c-3.21.94-9.83,3.51-8.56,8.53l8.56-3.75v86c0,15.94,5,27.51,9.28,30.17s20.93,2.89,25.69,2.89S125.7,191,130,188.31s9.28-14.23,9.28-30.17v-86l8.56,3.75C149.09,70.93,142.47,68.36,139.26,67.42Z" transform="translate(-52.01 -7.08)"/>

            <path [attr.fill]="downSlot.color" d="M127.09,15.56c-5.95-4.84-17.36-8.48-31.4-8.48s-25.45,3.64-31.4,8.48S60.73,27.77,60.73,57v92.52c0,15.94,5,27.51,9.28,30.17s20.93,2.89,25.69,2.89,21.41-.24,25.69-2.89,9.28-14.23,9.28-30.17V57C130.66,27.77,133,20.4,127.09,15.56Z" transform="translate(-52.01 -7.08)"/>

            <path [attr.fill]="downSlot.color" d="M123.51,19.81c-5.27-4.3-15.38-7.53-27.82-7.53s-22.55,3.23-27.82,7.53-3.16,10.85-3.16,36.83V138.8c0,14.15,4.43,24.43,8.22,26.79s18.55,2.57,22.76,2.57,19-.21,22.76-2.57,8.22-12.64,8.22-26.79V56.64C126.67,30.66,128.78,24.11,123.51,19.81Z" transform="translate(-52.01 -7.08)"/>

            <path class="cls-4" d="M65.2,15.93a18.91,18.91,0,0,0,.36,3.89C67.88,17,71.9,16.58,75.18,15a8.91,8.91,0,0,0,3.66-2.93,5.63,5.63,0,0,0,.89-2.23A40.34,40.34,0,0,0,65.2,15.93Z" transform="translate(-52.01 -7.08)"/><path class="cls-2" d="M62.39,58.39s-11.89,2.38-10.23,9l10.23-4.48Z" transform="translate(-52.01 -7.08)"/>

            <path class="cls-5" d="M64.3,58.39s5.23,13.38,5.23,41S64.3,145.5,64.3,145.5Z" transform="translate(-52.01 -7.08)"/><path class="cls-6" d="M71.47,176.61l-4.14-1.43A11.49,11.49,0,0,0,70.72,179a8.83,8.83,0,0,0,2,.85Z" transform="translate(-52.01 -7.08)"/><path class="cls-4" d="M126.18,15.93a18.91,18.91,0,0,1-.36,3.89c-2.31-2.79-6.34-3.24-9.61-4.79a8.91,8.91,0,0,1-3.66-2.93,5.63,5.63,0,0,1-.89-2.23A40.34,40.34,0,0,1,126.18,15.93Z" transform="translate(-52.01 -7.08)"/><path class="cls-5" d="M95.69,8.15A73,73,0,0,0,81.42,9.5v1.62A113.49,113.49,0,0,1,95.69,9.87,113.49,113.49,0,0,1,110,11.12V9.5A73,73,0,0,0,95.69,8.15Z" transform="translate(-52.01 -7.08)"/><path class="cls-2" d="M129,58.39s11.89,2.38,10.23,9L129,62.87Z" transform="translate(-52.01 -7.08)"/><path class="cls-5" d="M127.09,58.39s-5.23,13.38-5.23,41,5.23,46.14,5.23,46.14Z" transform="translate(-52.01 -7.08)"/><path class="cls-5" d="M72.46,73.67l-5.55-25s6.42-4.64,28.78-4.64,28.78,4.64,28.78,4.64l-5.55,25S112.34,70,95.69,70,72.46,73.67,72.46,73.67Zm46.89,72a2.16,2.16,0,0,0-2.54-1.68,118.23,118.23,0,0,1-21.13,2.41A118.23,118.23,0,0,1,74.56,144,2.16,2.16,0,0,0,72,145.72L68.51,162.8a2.16,2.16,0,0,0,1.58,2.53,106.76,106.76,0,0,0,25.6,2.84,106.76,106.76,0,0,0,25.6-2.84,2.16,2.16,0,0,0,1.58-2.53Z" transform="translate(-52.01 -7.08)"/><path class="cls-6" d="M119.92,176.61l4.14-1.43a11.49,11.49,0,0,1-3.39,3.81,8.83,8.83,0,0,1-2,.85Z" transform="translate(-52.01 -7.08)"/>
  </g>
          </svg>

<svg   width="45" data-name="Layer 3"  xmlns="http://www.w3.org/2000/svg"
          [attr.x]="rightLinePosition.x1-35"
          [attr.y]="calculateMidArrowPosition(canvas)/2-45" viewBox="0 0 95.97 184.13"><defs>
            <style>.cls-1{fill:#eceff0;}.cls-4{fill:#fff;}.cls-5{fill:#35435c;}.cls-6{fill:#ef4036;}</style></defs>

          <path  class="cls-1" d="M139.26,67.42V65.62c0-29.26,2.38-36.63-3.57-41.47s-17.36-8.48-31.4-8.48-25.45,3.64-31.4,8.48-3.57,12.21-3.57,41.47v1.79c-3.21.94-9.83,3.51-8.56,8.53l8.56-3.75v86c0,15.94,5,27.51,9.28,30.17s20.93,2.89,25.69,2.89S125.7,191,130,188.31s9.28-14.23,9.28-30.17v-86l8.56,3.75C149.09,70.93,142.47,68.36,139.26,67.42Z" transform="translate(-52.01 -7.08)"/>

          <path [attr.fill]="upSlot.color" d="M127.09,15.56c-5.95-4.84-17.36-8.48-31.4-8.48s-25.45,3.64-31.4,8.48S60.73,27.77,60.73,57v92.52c0,15.94,5,27.51,9.28,30.17s20.93,2.89,25.69,2.89,21.41-.24,25.69-2.89,9.28-14.23,9.28-30.17V57C130.66,27.77,133,20.4,127.09,15.56Z" transform="translate(-52.01 -7.08)"/>

          <path [attr.fill]="upSlot.color" d="M123.51,19.81c-5.27-4.3-15.38-7.53-27.82-7.53s-22.55,3.23-27.82,7.53-3.16,10.85-3.16,36.83V138.8c0,14.15,4.43,24.43,8.22,26.79s18.55,2.57,22.76,2.57,19-.21,22.76-2.57,8.22-12.64,8.22-26.79V56.64C126.67,30.66,128.78,24.11,123.51,19.81Z" transform="translate(-52.01 -7.08)"/>

          <path class="cls-4" d="M65.2,15.93a18.91,18.91,0,0,0,.36,3.89C67.88,17,71.9,16.58,75.18,15a8.91,8.91,0,0,0,3.66-2.93,5.63,5.63,0,0,0,.89-2.23A40.34,40.34,0,0,0,65.2,15.93Z" transform="translate(-52.01 -7.08)"/><path class="cls-2" d="M62.39,58.39s-11.89,2.38-10.23,9l10.23-4.48Z" transform="translate(-52.01 -7.08)"/>

          <path class="cls-5" d="M64.3,58.39s5.23,13.38,5.23,41S64.3,145.5,64.3,145.5Z" transform="translate(-52.01 -7.08)"/><path class="cls-6" d="M71.47,176.61l-4.14-1.43A11.49,11.49,0,0,0,70.72,179a8.83,8.83,0,0,0,2,.85Z" transform="translate(-52.01 -7.08)"/><path class="cls-4" d="M126.18,15.93a18.91,18.91,0,0,1-.36,3.89c-2.31-2.79-6.34-3.24-9.61-4.79a8.91,8.91,0,0,1-3.66-2.93,5.63,5.63,0,0,1-.89-2.23A40.34,40.34,0,0,1,126.18,15.93Z" transform="translate(-52.01 -7.08)"/><path class="cls-5" d="M95.69,8.15A73,73,0,0,0,81.42,9.5v1.62A113.49,113.49,0,0,1,95.69,9.87,113.49,113.49,0,0,1,110,11.12V9.5A73,73,0,0,0,95.69,8.15Z" transform="translate(-52.01 -7.08)"/><path class="cls-2" d="M129,58.39s11.89,2.38,10.23,9L129,62.87Z" transform="translate(-52.01 -7.08)"/><path class="cls-5" d="M127.09,58.39s-5.23,13.38-5.23,41,5.23,46.14,5.23,46.14Z" transform="translate(-52.01 -7.08)"/><path class="cls-5" d="M72.46,73.67l-5.55-25s6.42-4.64,28.78-4.64,28.78,4.64,28.78,4.64l-5.55,25S112.34,70,95.69,70,72.46,73.67,72.46,73.67Zm46.89,72a2.16,2.16,0,0,0-2.54-1.68,118.23,118.23,0,0,1-21.13,2.41A118.23,118.23,0,0,1,74.56,144,2.16,2.16,0,0,0,72,145.72L68.51,162.8a2.16,2.16,0,0,0,1.58,2.53,106.76,106.76,0,0,0,25.6,2.84,106.76,106.76,0,0,0,25.6-2.84,2.16,2.16,0,0,0,1.58-2.53Z" transform="translate(-52.01 -7.08)"/><path class="cls-6" d="M119.92,176.61l4.14-1.43a11.49,11.49,0,0,1-3.39,3.81,8.83,8.83,0,0,1-2,.85Z" transform="translate(-52.01 -7.08)"/>

        </svg>



 </svg>
<div class="c">






</div>


