<agm-map [styles]="styles"  *ngIf="render" [fitBounds]="true" [latitude]="lat" [longitude]="lng">
<div *ngFor="let route of routes;let i = index">
  <agm-direction  travelMode="WALKING" [origin]="route.origin" [destination]="route.destination" [renderOptions]="route.renderOptions"></agm-direction>
  </div>

  <div *ngFor="let device of devices">
    <agm-marker [agmFitBounds]="true" [latitude]="device.lat" [longitude]="device.lng"></agm-marker>
  </div>
  </agm-map>
